body{
    
}
html{
    background: url('/images/marcus-dall-col-HUAtbHmt0I4-unsplash.jpg') no-repeat center fixed;
    background-size: cover;
}

.center{
    margin: 0 auto;
    &-text{
        text-align: center;
    }
    
}

.float{

    &-right{
        float: right;
    }
    &-left{
    float: left;
    }
}
