header{
    background-color: $darkBlue;
    height: 60px;
    padding-right: 10px;
    width: 100%;
    input{
        margin-top: 10px;
        height: 30px;
        width: 300px;
    }
}
